[Unit]
Description=Clearwater Config Manager

[Service]
User=clearwater-config-manager
RuntimeDirectory=clearwater-config-manager
PIDFile=/var/run/clearwater-config-manager/clearwater-config-manager.pid
WorkingDirectory=/usr/share/clearwater/clearwater-config-manager
ExecStart=/lib/systemd/scripts/clearwater-config-manager.sh
 
[Install]
WantedBy=multi-user.target
