[Unit]
Description=Clearwater Cluster Manager

[Service]
User=clearwater-cluster-manager
RuntimeDirectory=clearwater-cluster-manager
PIDFile=/var/run/clearwater-cluster-manager/clearwater-cluster-manager.pid
WorkingDirectory=/usr/share/clearwater/clearwater-cluster-manager
ExecStart=/lib/systemd/scripts/clearwater-cluster-manager.sh
 
[Install]
WantedBy=multi-user.target
