# We are unfortunately running as root because we need write access to anywhere under /etc/

[Unit]
Description=Clearwater Queue Manager

[Service]
RuntimeDirectory=clearwater-queue-manager
PIDFile=/var/run/clearwater-queue-manager/clearwater-queue-manager.pid
WorkingDirectory=/usr/share/clearwater/clearwater-queue-manager
ExecStart=/lib/systemd/scripts/clearwater-queue-manager.sh
 
[Install]
WantedBy=multi-user.target
