[Unit]
Description=Clearwater etcd

[Service]
User=clearwater-etcd
RuntimeDirectory=clearwater-etcd
PIDFile=/var/run/clearwater-etcd/clearwater-etcd.pid
WorkingDirectory=/etc/clearwater
ExecStart=/lib/systemd/scripts/clearwater-etcd.sh
 
[Install]
WantedBy=multi-user.target
