# Note: PID location is different from other Clearwater components

[Unit]
Description=Clearwater Homestead Provisioning

[Service]
#User=homer
PIDFile=/var/run/homestead-prov.pid
WorkingDirectory=/usr/share/clearwater/homestead
ExecStart=/lib/systemd/scripts/homestead-prov.sh

[Install]
WantedBy=multi-user.target
