[Unit]
Description=Clearwater Homestead HSS cache/gateway

[Service]
User=homestead
PIDFile=/var/run/homestead/homestead.pid
WorkingDirectory=/etc/clearwater
Environment=log_level=2
LimitNOFILE=1000000
LimitCORE=infinity
ExecStart=/bin/bash -c ' \
. /etc/clearwater/config && \
/usr/share/clearwater/crest/env/bin/python -m metaswitch.crest.main \
--worker-processes=$(nproc) \
$signaling_opt \
--log-level=$log_level'

[Install]
WantedBy=multi-user.target
