[Unit]
Description=Clearwater Homestead HSS cache/gateway

[Service]
User=homestead
RuntimeDirectory=homestead
PIDFile=/var/run/homestead/homestead.pid
WorkingDirectory=/etc/clearwater
ExecStart=/lib/systemd/scripts/homestead.sh

[Install]
WantedBy=multi-user.target
