# Note: PID location is different from other Clearwater components

[Unit]
Description=Clearwater Homer XDMS

[Service]
#User=homer
PIDFile=/var/run/homer.pid
WorkingDirectory=/usr/share/clearwater/homer
ExecStart=/lib/systemd/scripts/homer.sh

[Install]
WantedBy=multi-user.target
