clouds:
  rackspace:
    region_name: ORD
    auth_type: rackspace_apikey
    auth:
      username: {YOUR USERNAME}
      api_key: {YOUR API KEY}
      auth_url: https://identity.api.rackspacecloud.com/v2.0/
