# {{ ansible_managed }}

::1                  localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.0.1            localhost localhost.localdomain localhost4 localhost4.localdomain4

{% for item in play_hosts %}
{% set item = hostvars[item] %}
{{ '%-20s' | format(item.server.private_v4) }} {{ item.inventory_hostname }} {{ item.inventory_hostname_short }}
{% endfor %}
