# {{ ansible_managed }}
{% import 'topology.j2' as topology with context %}

# IP addresses

local_ip={{ topology.server.private_v4 }}
public_ip={{ topology.server.public_v4 }}
public_hostname={{ topology.server.public_v4 }}

# Cluster

local_site_name={{ topology.site_name }}
etcd_cluster_key={{ topology.type }}
node_idx={{ topology.index }}
etcd_cluster={{ topology.nodes('private_v4') }}
etcd_proxy=

# Geographically redundant

# On the first Vellum node in the second site, you should set remote_cassandra_seeds to the
# IP address of a Vellum node in the first site.
#remote_cassandra_seeds=

# Misc

max_log_directory_size={{ 1 * 1024 * 1024 }}
