name: clearwater
image: CentOS 7 (PVHVM)
servers:
- type: vellum
  name: vellum1
  flavor: 512MB Standard Instance
- type: sprout
  name: sprout1
  flavor: 512MB Standard Instance
- type: ellis
  name: ellis1
  flavor: 512MB Standard Instance
