app-servers
 required modules: pjsip, sasclient

c-ares

cassandra

clearwater-etcd-plugins

cpp-common
 BuildRequires: zeromq-devel boost-devel net-snmp-devel curl-devel

curl
 BuildRequires: openssl-devel

freeDiameter
 BuildRequires: cmake bison flex
 note: breaks if we use byacc instead of bison!

gcovr
 Python
 BuildRequires: gcc

gemini
 required modules: app-servers

gmock

libevhtp
 BuildRequires: cmake libevent-devel openssl-devel

+++

libmemcached
 BuildRequires: bison* flex
 BuildRequires: libevent-devel
 *oddly, building sprout breaks with bison, so replace with byacc

libre

memento-as

openssl

pjsip

rapidjson

restund

sas-client
 BuildRequires: zlib-devel

sipp

thrift
 BuildRequires: bison flex
 BuildRequires: boost-devel boost-static openssl-devel

websocketpp
